/*minireset.css*/
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}img,embed,iframe,object,audio,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0;text-align:left}

* {
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 16px;
  color: #000000;
  word-break: break-word !important;
}

body{
  background: #ffffff;
}

@media screen {
  .crop .page:not(:last-child) {
    border-bottom: 1px dotted cyan;
  }
}

.page{
  overflow: hidden;
  position: relative; 
  height: 100vh;
  width: 100vw;
}

.container {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.relative {
  position: relative;
}

.cover {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contain {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.blend {
  background-blend-mode: overlay;
}

/** Overflow Styles **/
[data-limit-exceeded="true"] {
  --standardOverflowColor: #D13D3D;
  
  position: relative !important;
  outline: 3px solid var(--overrideOverflowColor, var(--standardOverflowColor));
  /*color: var(--overrideOverflowColor, var(--standardOverflowColor)) !important;*/
}

[data-limit-exceeded="true"] * { 
  color: inherit !important; 
}

[data-limit-exceeded="true"] {
  box-shadow: 0 0 0 0.0362rem color: var(--overrideOverflowColor, var(--standardOverflowColor)) !important;
  /*background: rgba(255, 0, 0, 0.4);*/
  position: relative;
  z-index: 999;}
[data-limit-exceeded="true"] h1, 
[data-limit-exceeded="true"] h2, 
[data-limit-exceeded="true"] h3, 
[data-limit-exceeded="true"] h4, 
[data-limit-exceeded="true"] h5, 
[data-limit-exceeded="true"] h6, 
[data-limit-exceeded="true"] p, 
[data-limit-exceeded="true"] li { color: var(--overrideOverflowColor, var(--standardOverflowColor)) !important; }
[data-limit-exceeded="true"]::before {
  content: "";
  position: absolute;
  z-index: 5;
  top: -2px;
  left: -2px;
  height: 40px;
  width: 40px;
  max-height: 100%;
  color: white !important;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  text-align: center;
  line-height: 1;
  background-color: var(--overrideOverflowColor, var(--standardOverflowColor));
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMSIgZmlsbD0ibm9uZSIgeG1sbnM6dj0iaHR0cHM6Ly92ZWN0YS5pby9uYW5vIj48bWFzayBpZD0iQSIgbWFzay10eXBlPSJhbHBoYSIgbWFza1VuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeD0iMCIgeT0iMCIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIxIj48cGF0aCBkPSJNOS4wNjMgMTQuNTYzYS45NC45NCAwIDAgMSAuOTM4LS45MzcuOTQuOTQgMCAwIDEgLjkzOC45MzguOTQuOTQgMCAwIDEtLjkzNy45MzguOTQuOTQgMCAwIDEtLjkzNy0uOTM3ek0xMCA0LjI1Yy4zNDUgMCAuNjI1LjI4LjYyNS42MjV2Ni44NzVjMCAuMzQ1LS4yOC42MjUtLjYyNS42MjVzLS42MjUtLjI4LS42MjUtLjYyNVY0Ljg3NWMwLS4zNDUuMjgtLjYyNS42MjUtLjYyNXpNMCAxMC41YTEwIDEwIDAgMSAxIDIwIDAgMTAgMTAgMCAxIDEtMjAgMHptMTAtOC43NWE4Ljc1IDguNzUgMCAxIDAgMCAxNy41IDguNzUgOC43NSAwIDEgMCAwLTE3LjV6IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiMwMDAiLz48L21hc2s+PGcgbWFzaz0idXJsKCNBKSI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTS0uODMzLS4zMzNoMjEuNjY3djIxLjY2N0gtLjgzM3oiLz48L2c+PC9zdmc+);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0 0 10px 0;
}

[data-limit-exceeded="true"]:not([data-hide-error-message]):hover:before {
  background-color: var(--overrideOverflowColor, var(--standardOverflowColor)) !important;
  color: white;
  /*background-image: unset;*/
      background-position: 10px;
  content: "Max Height Exceeded";
  padding: 0 20px 0px 40px;
  width: auto;
}

/*[data-limit-exceeded="true"]:after {
  display: none; }
*/

/*[data-limit-exceeded="true"]:hover:after {
  display: block;
  content: '<svg></svg>Max number of lines exceeded!';
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  color: white;
  border-radius: 0;
  padding: 0 1.5em 0 0.5em;
  box-sizing: border-box;
  max-height: 100%;
  font-size: 16px;
  font-weight: 400;
  text-align: right;
  line-height: 1em;
  z-index: 2;
}*/
/*
[data-limit-exceeded="true"][data-max-height]:hover:after {
  content: 'Max height exceeded!';  
}

[data-limit-exceeded="true"][data-char-limit]:hover:after {
  content: 'Character limit exceeded';        
}*/

[data-limit-exceeded="true"] .token-value.token-empty {
  display: none;
}

/* Small fix that prevents Superscript and Subscript from breaking the element's line-height */
sup,
sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;        
  line-height: 1em;
}

sub {
  top: 0.4em;
}   

/* Hiding Placeholder Elements on Export */
.is-export-mode .placeholder__container,
.is-export-mode .placeholder__trigger {
  display: none;
}     

/* Dynamic Inject container style */
.js-dynamicInjectMaster { display: none; }

.js-dynamicInjectMasterReposition {
  position: absolute;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.backgroundImage {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.backgroundImage div {
  width: auto !important;
  height: auto !important;
  right: 0;
  bottom: 0;
}

/* Helper classes */
.u-hide { display: none; }

/* Helper class for fixing Reposition tool bug */
.reposition-fix {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;        
}

.reposition-fix div {
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

.placeholderImage{
  position: absolute;
  top: 3mm;
  left: 3mm;
  bottom: 3mm;
  right: 3mm;
  width: calc(100% - 6mm);
  height: calc(100% - 6mm);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.4;
  z-index:999;
  pointer-events:none;
}

.crop-mark{
  position: absolute;
  height: 28.81px;
  width: 28.81px;
}

.crop-marks .crop-mark.top-left{
  top: 0;
  left: 0;
}

.crop-marks .crop-mark.top-right{
  top: 0;
  right: 0;
  transform: rotate(90deg);
}

.crop-marks .crop-mark.bottom-left{
  bottom: 0;
  left: 0;
  transform: rotate(270deg);
}

.crop-marks .crop-mark.bottom-right{
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
}

[data-trim="true"] .bleed{
  --trimOffset: 4.41mm;
}

[data-trim="false"] .bleed{
  --trimOffset: -3mm;
}

.bleed{
  position: absolute;
  top: var(--trimOffset);
  left: var(--trimOffset);
  bottom: var(--trimOffset);
  right: var(--trimOffset);
}

/*OLD OVERFLOW STYLES - TO BE REMOVED*/
/** Overflow Styles **/
      .overflow {
        position: relative !important;
        border: 1px dashed red;
        color: red !important;
      }

      .overflow * { 
        color: inherit !important; 
      }

      .overflow {
        border: none;
        box-shadow: 0 0 0 0.0362rem red;
        background: rgba(255, 0, 0, 0.4);
        position: relative;
        z-index: 999;}
      .overflow h1, 
      .overflow h2, 
      .overflow h3, 
      .overflow h4, 
      .overflow h5, 
      .overflow h6, 
      .overflow p, 
      .overflow li { color: red !important; }
      .overflow::before {
        content: '+';
        position: absolute;
        z-index: 5;
        top: 0;
        right: 0;
        height: 1.2em;
        width: 1.2em;
        max-height: 100%;
        color: red;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Arial';
        font-size: 0.8em;
        text-align: center;
        line-height: 1.2em;
        background-color: white;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .overflow:hover:before {
        background-color: red;
        color: white; }
      .overflow:after {
        display: none; }
      .overflow:hover:after {
        display: block;
        content: 'Max number of lines exceeded!';
        position: absolute;
        top: 0;
        right: 0;
        background-color: black;
        color: white;
        border-radius: 0;
        padding: 0 1.5em 0 0.5em;
        box-sizing: border-box;
        max-height: 100%;
        font-family: 'Arial';
        font-size: 0.8em;
        font-weight: 400;
        text-align: right;
        line-height: 1.2em;
        z-index: 2;
      }

      .overflow[data-max-height]:hover:after {
        content: 'Max height exceeded!';  
      }

      .overflow[data-char-limit]:hover:after {
        content: 'Character limit exceeded';        
      }

      .overflow[data-custom-overflow-message]:hover:after {
        content: attr(data-custom-overflow-message);
      }

      .overflow .token-value.token-empty {
        display: none;
      }
