/* IMPORT_FONTS_HERE */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');

/* ADD_STYLES_HERE */
body {
    font-family: 'IBM Plex Sans', sans-serif!important;
    .container {
        padding: 0.5rem 1rem;
        h1 {
            font-size: 1.2rem;
            span {
                color: red;
            }
        }
    }
}