/* IMPORT_FONTS_HERE */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');

/* ADD_STYLES_HERE */
body {
    font-family: 'IBM Plex Sans', sans-serif;
}
body .container {
  padding: 0.5rem 1rem;
}
body .container h1 {
 color: var(--navy);
}