{
    "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "chrome": "67",
              "safari": "11.1"
            },
          },
        ],
      ],
}